@model PainelIndoor.Application.Core.Services.Paginacao



    <div class="row">

        <div class="col-md-8">

            Mostrando @Model.ItensPorPagina de @Model.TotalItens itens - Página @(Model.PaginaAtual + 1) de @Model.PaginasTotais

        </div>

        <div class="col-md-2 pull-right">

            <button onclick="pesquisarMonitores(@Model.PaginaAtual - 1)" asp-disabled="@Model.IsVisibleAnterior" class="form-control btn btn-default">&laquo; Anterior</button>

        </div>

        <div class="col-md-2 pull-right">

            <button onclick="pesquisarMonitores(@Model.PaginaAtual + 1)" asp-disabled="@Model.IsVisibleProxima" class="form-control btn btn-default">Proxima &raquo;</button>

        </div>

    </div>





