@* @using Painel.Application.CachedServices
@using Microsoft.AspNetCore.Identity
@using Painel.Infra.Data.Shift.Identity.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManeger
@inject MenusCachedService MenusService

@{
    var user = await UserManeger.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="col-md-3 left_col menu_fixed">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a asp-action="Inicio" asp-controller="Home" class="site_title"><i class="fa fa-tv"></i> <span>Painel Admin!</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
                <div class="profile_pic">
                    <img src="~/build/images/user.png" alt="..." class="img-circle profile_img">
                </div>
                <div class="profile_info">
                    <span>Bem-vindo,</span>
                    <h2>@user.NormalizedUserName</h2>
                </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <h3>Geral</h3>
                    <ul class="nav side-menu">
                        <li>
                            @foreach (var menu in MenusService.ObterMenusPorRole().Result.ListarMenus)
                            {
                                <a><i class="fa fa-tv"></i>@menu.MenuName<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    @foreach (var subMenu in MenusService.ObterSubMenusPorRole(menu.MenuId).Result.ListarSubMenus)
                                    {
                                        <li><a asp-action="@subMenu.Action" asp-controller="@subMenu.Controller">@subMenu.MenuName</a></li>
                                    }
                                </ul>
                            }

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

 *@